<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--公共css文件-->
<head th:fragment="commonCSS">

	<!-- Basic -->
	<meta http-equiv=X-UA-Compatible content="IE=9">
	<meta charset="UTF-8">

	<title>SMC2000卫星站点监控器</title>
	<meta name="keywords" content="SMC2000卫星站点监控器" />
	<meta name="description" content="SMC2000卫星站点监控器">
	<meta name="author" content="cc,chb,xgm">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!--图标-->
	<link rel="icon" href="assets/images/favicon3.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="assets/images/favicon3.ico" type="image/x-icon"/>

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />

	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
	<link rel="stylesheet" href="assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
	<link rel="stylesheet" href="assets/vendor/select2/select2.css" />
	<link rel="stylesheet" href="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
	<link rel="stylesheet" href="assets/vendor/dropzone/css/basic.css" />
	<link rel="stylesheet" href="assets/vendor/dropzone/css/dropzone.css" />
	<link rel="stylesheet" href="assets/vendor/summernote/summernote.css" />
	<link rel="stylesheet" href="assets/vendor/summernote/summernote-bs3.css" />
	<link rel="stylesheet" href="assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
	<link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />

	<link rel="stylesheet" href="assets/vendor/fullcalendar/2.9.1/fullcalendar.css" />
	<link rel="stylesheet" href="assets/vendor/fullcalendar/2.9.1/fullcalendar.print.css" media="print" />


  <!--消息提示插件-->
	<link rel="stylesheet" href="assets/vendor/toastr/toastr.css" />

	<!--zTree-->
	<link rel="stylesheet" href="assets/vendor/zTree/css/zTreeStyle.css" />
	<link rel="stylesheet" href="assets/vendor/zTree/css/metroStyle/metroStyle.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="assets/stylesheets/theme.css" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

	<!-- Head Libs -->
	<script src="assets/vendor/modernizr/modernizr.js"></script>



</head>
</html>
