<!DOCTYPE html>
<head>
<!--加载公共的css-->
<!-- Basic -->
<meta http-equiv=X-UA-Compatible content="IE=9">
<meta charset="UTF-8">

<title>VIP800A人防卫星高清编解码器</title>
<meta name="keywords" content="VIP800A人防卫星高清编解码器" />
<meta name="description" content="VIP800A人防卫星高清编解码器">
<meta name="author" content="cc,chb">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!--图标-->
<link rel="icon" href="assets/images/favicon3.ico" type="image/x-icon" />
<link rel="shortcut icon" href="assets/images/favicon3.ico" type="image/x-icon"/>
</head>

<body>
欢迎登陆
</body>
</html>
