<!doctype html>
<html class="fixed">
<head>
<!--加载公共的css-->
<!-- Basic -->
<meta http-equiv=X-UA-Compatible content="IE=9">
<meta charset="UTF-8">

<title>VIP800A人防卫星高清编解码器</title>
<meta name="keywords" content="VIP800A人防卫星高清编解码器" />
<meta name="description" content="VIP800A人防卫星高清编解码器">
<meta name="author" content="cc,chb">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!--图标-->
<link rel="icon" href="assets/images/favicon3.ico" type="image/x-icon" />
<link rel="shortcut icon" href="assets/images/favicon3.ico" type="image/x-icon"/>

<!-- Vendor CSS -->
<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />

<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
<link rel="stylesheet" href="assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
<link rel="stylesheet" href="assets/vendor/select2/select2.css" />
<link rel="stylesheet" href="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
<link rel="stylesheet" href="assets/vendor/dropzone/css/basic.css" />
<link rel="stylesheet" href="assets/vendor/dropzone/css/dropzone.css" />
<link rel="stylesheet" href="assets/vendor/summernote/summernote.css" />
<link rel="stylesheet" href="assets/vendor/summernote/summernote-bs3.css" />
<link rel="stylesheet" href="assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />

<link rel="stylesheet" href="assets/vendor/fullcalendar/2.9.1/fullcalendar.css" />
<link rel="stylesheet" href="assets/vendor/fullcalendar/2.9.1/fullcalendar.print.css" media="print" />


<!--消息提示插件-->
<link rel="stylesheet" href="assets/vendor/toastr/toastr.css" />

<!--zTree-->
<link rel="stylesheet" href="assets/vendor/zTree/css/zTreeStyle.css" />
<link rel="stylesheet" href="assets/vendor/zTree/css/metroStyle/metroStyle.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="assets/stylesheets/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="assets/stylesheets/theme-custom.css">



<!-- Head Libs -->
<script src="assets/vendor/modernizr/modernizr.js"></script>

</head>
	<body class="bodyBgd">
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/" class="logo-login pull-left">
					<h1 class="logo-login">VIP800A<span>人防卫星高清编解码器</span></h1>
				</a>

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-weight-bold m-none">管理系统</h2>
					</div>
					<div class="panel-body">
						<form method="post" id="signinForm">
							<div class="form-group mb-lg">
								<label  class="login-font">用户名</label>
								<div class="input-group input-group-icon">
									<input name="username" type="text" class="form-control input-lg" required/>
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="form-group mb-lg">
								<div class="clearfix">
									<label class="pull-left login-font">密码</label>
								</div>
								<div class="input-group input-group-icon">
									<input name="password" type="password" class="form-control input-lg" required/>
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div class="checkbox-custom checkbox-default">
										<input id="RememberMe" name="remember-me" type="checkbox"/>
										<label class="login-font-rem" for="RememberMe">记住我</label>
									</div>
								</div>
								<div class="col-sm-4 text-right">
									<button type="button" id="signinButton" class="btn btn-primary button-signin">登录</button>
								</div>
							</div>

						</form>
					</div>
				</div>

				<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2020</p>
			</div>
		</section>
		<!-- end: page -->

		<!--引用js模板，将通用的js放入-->
		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/jquery-autosize/jquery.autosize.js"></script>
		<!--特殊的js文件-->
		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>

		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>
		<script type="text/javascript">
			$("#signinButton").on('click',function(){
					$.ajax({
					type: "post",
					url: "/signin",
					dataType : "json",
					data: $('#signinForm').serialize(),
					success: function (data) {
						console.log(data);
			      alert(data.message);
					}
					});

			});
		</script>

	</body>
</html>
